
extends layout.pug

block styles
	link(rel="stylesheet" href="http://localhost:3000/stylesheets/printout.css")

block content
	mixin circles(times, size)
			if times !== 1
				-size = (size / 1.25 )
				-s = size + "px"
				-props = { width: s, height: s }
				.circle(style=props)
					-times = times - 1
					+circles(times, size)

	header.moments-header.cf
		.moments-header__left.pull-left
			.moments-header__company_logo.pull-left
				img(src="http://localhost:3000/images/MuseumEggLogo.png")
			.moments-header__date.pull-left
				span.date__day 22
				span.date__month FEB
				span.date__year 2017
			h1.moments-header__title Your day at the
			p.moments-header__scimu Science Museum
		.moments-header__right.pull-right
			img.moments-header__logo(src="https://blog.sciencemuseum.org.uk/wp-content/uploads/2015/11/SM_logo_light.png")
	section.moments-timeline
		.moments-timeline__container.cf
			.moments-timeline__start_date.pull-left
				p #{result.start_time}
			.moments-timeline__line.pull-left
			.moments-timeline__points__container
				each moment in result.dwell_artifacts
					.moments-timeline__pointer
						.moments-timeline__point(class="__point--" + moment.colour)
							+circles(6, moment.dwell)
			.moments-timeline__end_date.pull-right
				p #{result.end_time}
	section.moments-items
		.moments-items__container.cf
			each item in result.artifacts
				- var bg_style = { 'background-image': `url(${item.image_url})` }
				.moments-item(class="moments-item--" + item.colour)
					.moments-item__container
						.moments-item__header.__left--overlay
							.moments-item__img(style=bg_style)
						.moments-item__contents
							h1.moments-item__title #{item.title}
							p.moments-item__text #{item.description}
	section.moments-secret
		.moments-secret__container.cf
			.moments-secret__header
				- var secret_bg_style = { 'background-image': `url(${result.secret.image_url})` }
				.moments-secret__img(style=secret_bg_style)
			.moments-secret__content
				h1.moments-secret__title Your secret item: #{result.secret.title}
				p.moments-secret__text #{result.secret.description}

	footer.moments-footer
		.moments-footer__container
			h2.moments-footer__text Access your Vist Timeline online at 
				span.moments-footer__url #{result.online_url}